$button-main: rgb(255, 118, 54);
.btn{
  background-color: $button-main;
  border-radius: 20px;
  width: 270px;
  height: 95px;
  border-bottom: 5px solid darken($color: $button-main, $amount: 30%);
  border-left: 2px solid darken($color: $button-main, $amount: 30%);box-shadow: 0 2px 7px black;
  &:active{
    border: none;
    box-shadow: none;
    transform: translateY(5px);
  }
  p{
    color: rgb(242, 255, 255,);
    font-size: 25px;
    padding-left: 15px;
    font-weight: bold;
  }
}